.DistributionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 680px;

  h1 {
    color: var(--white200);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
  }

  section {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;

    div {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        color: var(--white100);
        font-family: var(--fontSecondary);
        font-size: 20px;
        font-weight: 700;
      }

      input {
        background: var(--white700);
        border-radius: 999px;
        border: 1px solid var(--white100);
        color: var(--white200);
        height: 29px;
        outline: none;
        padding: 0 16px;
        width: 100%;
      }
    }
  }

  button[type="button"] {
    background: var(--gray800);
    border-radius: 999px;
    border: none;
    color: var(--white100);
    font-size: 13px;
    height: 36px;
    outline: none;
  }

  a {
    font-size: 24px;
    margin: 30px 0 70px;
    text-align: right;
  }

  footer {
    font-family: var(--fontSecondary);
    font-size: 14px;
  }
}
